<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DentAdaEntities" connectionString="metadata=res://*/Model.DentAda_Model.csdl|res://*/Model.DentAda_Model.ssdl|res://*/Model.DentAda_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.73.170.2;initial catalog=u8990992_DentAda;persist security info=True;user id=u8990992_dentada;password=DentAdals_2019!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>