@section pageLevelInlineScripts {
    <script>
        jQuery(document).ready(function ()
        {

        });
    </script>
}
@section pageLevelStyles {

}
@section pageLevelInlineStyles {

}
@section pageLevelPlugins {


}
<div id="galleryContent">
    @await Component.InvokeAsync("GalleryList")
</div>



